body, html { 
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #149e4913;
}
.main{
    padding-right: 0px !important;
}
.details{
    min-height: 100%;
    background-color:#149e4a47 !important;
}
.canvas-container{
    overflow: auto;
    height: 700px;
}

.settings{
    margin: 0px;
    background-color: #149e4a47 !important;
}

.details-subtitle{
    font-size: 14px;
}
.entity-node {
	rx: 5;
	ry: 5;
	fill: white;
	stroke: black;
	stroke-width: 1.5px;
}

.active-entity-node{
    stroke: red;
    stroke-width: 2px;
}

.link {
	fill: black;
	stroke: black;
    stroke-width: 1.5px;
    
}
.inheritor-link{
    marker-end: url(#markerArrow);
}

.selected {
	stroke: blue;
}
.slider{
    margin-top: 10px;
    margin-bottom: 10px; 
}
.top-bar{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main-container{
    transform-origin: 55% 50%;
}
#markerArrowPoly{
    fill:white;
    stroke:black;
    stroke-width:2;
}